<div class ="particular-blog-page-base">
  <img class ="particular-blog-page-image" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png">
  <h1>Ventajas de usar el mejor lenguaje de programacion</h1>
  <p class ="particular-blog-page-dates">04-10-2021</p>
  <div class ="particular-blog-page-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloremque exercitationem minima nam officiis quae quo rem sequi vel velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugit ipsum iste laboriosam laudantium magnam mollitia nam neque porro ut? Earum expedita explicabo molestias perspiciatis repellat, totam ullam unde voluptate!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, esse!</p>
  </div>
  <div>
    <button>difundenos</button>
  </div>
</div>
